body{
    font-family: 'Lato', sans-serif;
    font-style: 13px;
    color: #FFFFFF;
    background: #000000;
}

/*Header*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.wrapper{
    width: 1274px;
    margin: 0 auto;
    padding-top: 24px;
}
.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header_logo-pic{
    width: 100px;
    height: 40.56px;
}


.header_list{
    text-transform: uppercase;
    font-style: normal;
    font-size: 13px;
}
