body{
    font-family: 'Lato', sans-serif;
    font-style: 13px;
    color: #FFFFFF;
    background: #000000;
}

/*Header*/

.wrapper{
    width: 1274px;
    height: 90px;
    margin: 0 auto;
}
.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 24px;
}

.header_logo-pic{
    width: 100px;
    height: 40.56px;
}


.header_list{
    text-transform: uppercase;
    font-style: normal;
    font-size: 13px;
}
