body{
    font-family: 'Lato', sans-serif;
    font-style: 13px;
    font-style: normal;
    color: #FFFFFF;
    background: #000000;
}

/*Header*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.wrapper{
    width: 1274px;
    margin: 0 auto;    
}
.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 24px;
}
.header_logo-pic{
    width: 100px;
    height: 40.56px;
}
.header_list{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
}
.header_item{
    line-height: 16px;
    text-decoration: none;
}
.header_link_5{
    background: #0059C1;
    border-radius: 12px;
    position: absolute;
    width: 121px;
    height: 40px;
   
}