@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body{
    font-family: 'Lato', sans-serif;;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    background: #000000;
}

/* Header styles start */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
}
.wrapper{
    width: 1274px;
    margin: 0 auto;    
}
.header_wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 24px;
}
.header_logo-pic{
    width: 100px;
    height: 40.56px;
}
.header_list{
    display: flex;
    flex-wrap: wrap;        
}
.header_item{
    line-height: 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}
.header_link_1{
    margin-right: 43px;
}
.header_link_2{
    margin-right: 115px;
}
.header_link_3{
    margin-right: 59px;
}
.header_link_3{
    margin-right: 59px;
}
.header_link_4{
    margin-right: 284px;
}
.header_link_5{
    font-weight: 700;
    background: #0059C1;
    border-radius: 12px;
    width: 121px;
    height: 40px;
    padding: 11px 33px;
    color: rgba(255, 255, 255, 1);
}
.header_link_1:hover, .header_link_1:focus, .header_link_1:active{
    color: rgba(255, 255, 255, 1);
}
.header_link_2:hover, .header_link_2:focus, .header_link_2:active{
    color: rgba(255, 255, 255, 1);
}
.header_link_3:hover, .header_link_3:focus, .header_link_3:active{
    color: rgba(255, 255, 255, 1);
}
.header_link_4:hover, .header_link_4:focus, .header_link_4:active{
    color: rgba(255, 255, 255, 1);
}
.header_link_5:hover, .header_link_5:focus, .header_link_5:active{
    color: rgba(255, 255, 255, .75);
}
/* Header styles end */

/* Main styles start */
/*Slider styles start */
.slider{
    background-size: cover;
    padding-top: 90px;    
}
.slider_image{
    height: 595px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.19%, #000000 100%), url(../img/Slider_bg.png);
}
.slider_content{
    position: absolute;
    margin-left: 308px;
    margin-top: 342px;
    width: 658px;
    height: 233px;    
}
.slider_content_title{
    position: absolute;
    width: 658px;
    height: 142.78px;
    background-image: url(../img/The_Last_of_Us_logo_1.png);
}
.slider_content_title:after{
    content: "";
    display: block;
    width: 500px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin-left: 79px;
    margin-top: -1px;
    }
.slider_content_title:before{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #E3B100;
    margin-left: 79px;
    margin-top: 172px;
}
.slider_content_play{
    position: absolute;
    margin-top: 193px;
    margin-left: 230px;
    width: 40px;
    height: 40px;
    background-image: url(../img/Button_1.png);
}
.slider_content_play_1{
    position: absolute;
    margin-top: 12.97px;
    margin-left: 16px;
    width: 11.99px;
    height: 14.61px;
    background-image: url(../img/Button_2.png)
}
.slider_content_video{
    position: absolute;
    margin-top: 204px;
    margin-left: 280px;
    text-transform: uppercase;
    font-size: 15px;
}
.slider_content_video:hover, .slider_content_video:focus, .slider_content_video:active{
    color: rgba(255, 255, 255, .75);
}
.main_title{
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    margin-top: 32px;
}
/*Slider styles end */

/*Cards style start */
.cards{
    background-size: cover;
    padding-top: 32px;             
}
.cards_wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    margin-left: -8px;
    margin-right: -300px;
    grid-gap: 20px;
    
}
.cards_wrapper > div{
    border-radius: 12px;
}
.house_of_dragon{
    width: 210px;
    height: 300px;
    background-image: url(../img/House_Of_Dragon.png);
}
.game_of_throne{
    width: 210px;
    height: 300px;
    background-image: url(../img/Game_Of_Throne.png);
}
.true_detective{
    width: 210px;
    height: 300px;
    background-image: url(../img/True_Detective.png);    
}
.silicon_valley{
    width: 210px;
    height: 300px;
    background-image: url(../img/Silicon_Valley.png);     
}
.thepeacemaker{
    width: 210px;
    height: 300px;
    background-image: url(../img/Thepeacemaker.png);
}
.mare_of_easttown{
    width: 210px;
    height: 300px;
    background-image: url(../img/Mare_Of_Easttown.png);
}
.house_of_dragon_2{
    width: 210px;
    height: 300px;
    background-image: url(../img/House_Of_Dragon_2.png);
}

/*Hover Effect style start*/
.hover{
    opacity: 0;
    width: 210px;
    border-radius: 12px;
    height: 300px;
    
}
.house_of_dragon_hover_flex{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 170px;
    /*margin-top: 20.45px;
    margin-left: 20.34px;*/
}
.house_of_dragon_flex_toggle{
    margin-left: 20.34px;
}
.house_of_dragon_flex_8_1{
    margin-left: 6.34px;
    margin-top: 20.45px;
    
}
.house_of_dragon_flex_2022{
    margin-left: 105px;
}
.house_of_dragon_season_hover{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 56px;
    margin-left: 20px;
}
.house_of_dragon_hover{
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    margin-top: 7px;
    margin-left: 20px;
    }
.house_of_dragon_text_hover{
    width: 170px;
    height: 52px;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin-top: 6px;
    margin-left: 20px;
}
.house_of_dragon_button_watch{
    width: 170px;
    height: 38px;
    background: #0059C1;
    border-radius: 12px;
    margin-top: 48px;
    margin-left: 20px;
}
.house_of_dragon_text_watch{
    position: absolute;
    font-weight: 700;
    font-size: 13px;
    padding-left: 106px;
    padding-top: 11px;
}
.house_of_dragon_season_watch{
    padding: 12.82px 0 0 16.19px;
}

/*Hover Effect style end*/
/*.house_of_dragon:hover, .house_of_dragon:focus{
    opacity: .15;
    backdrop-filter: blur(5px);
}
.hover:hover, .hover:focus{
    opacity: 1;
}*/
.hover:hover{
    opacity: 1;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    cursor: pointer;
}
/*Hover Effect* style start*/

/*Cards style end */